.ui-label {
    padding-left: 4px;
    position: relative;
    top: -12px;
}
.ui-label,
.ui-palette-cell { display: inline-block; }
.ui-palette-cell {
    height: 16px;
    width: 16px;
    margin: 8px 0;
}
.ui-palette-ramp { height: 32px; }

/* Buttons ********************************************************************/
.x-btn-default-toolbar-small,
.x-btn-default-toolbar-medium,
.x-btn-default-toolbar-large { border-color: #d0d0d0 !important; }
.x-btn-default-toolbar-medium .x-btn-inner {
    font-size: 16px !important; /* Larger toolbar button font size */
}

/* Forms **********************************************************************/
.x-form-trigger-input-cell { background-color: #ffffff !important; }
.x-fieldset-header-text,
.x-form-item-label,
.x-form-cb-label { font-size: 14px !important; }
.x-fieldset-header-text { font-weight: bold !important; }

/* Menus **********************************************************************/
.x-menu-item-text { font-size: 14px !important; }

/* Header *********************************************************************/
.x-panel-header-text-container-default { font-size: 14px !important; }

/* Icons **********************************************************************/
.icon-control-play-gray { background-image: url(bullet_arrow_right.png) !important; }
.icon-zoom-in { background-image: url(magnifier_zoom_in.png) !important; }
.icon-zoom-out { background-image: url(magnifier_zoom_out.png) !important; }
.icon-app-form-del { background-image: url(application_form_delete.png) !important; }

/* Panels/Borders *************************************************************/
.x-panel-default-outer-border-bl { border-bottom: 0 !important; }

/* TabPanel *******************************************************************/
.x-tab-default .x-tab-inner { font-size: 14px !important; }
