.ui-label {
    padding-left: 4px;
    position: relative;
    top: -12px;
}
.ui-label,
.ui-palette-cell { display: inline-block; }
.ui-palette-cell {
    height: 16px;
    width: 16px;
    margin: 8px 0;
}
.ui-palette-ramp { height: 32px; }
.ui-menu-group-text {
    font-size: 14px;
    left: 5px !important;
    color: #666;
    margin: 5px 0;
}

.mtri-logo {
    width: 150px;
    height: 45px;
}

/* Buttons ********************************************************************/
.x-btn-default-toolbar-small,
.x-btn-default-toolbar-medium,
.x-btn-default-toolbar-large { border-color: #d0d0d0 !important; }
.map-tbar .x-btn-default-toolbar-small,
.map-tbar .x-btn-default-toolbar-medium,
.map-tbar .x-btn-default-toolbar-large { border-color: #888 !important;}
.x-btn-default-toolbar-medium .x-btn-inner {
    font-size: 16px !important; /* Larger toolbar button font size */
}

.x-btn-default-large .x-btn-inner {
    font-size: 12px !important;
    padding: 0 3px !important;
    
}
/* Forms **********************************************************************/
.x-form-trigger-input-cell { background-color: #fff !important; }
.x-fieldset-header-text,
.x-form-item-label,
.x-form-cb-label { font-size: 14px !important; }
.x-fieldset-header-text { font-weight: bold !important; }

/* Grid ***********************************************************************/

.x-column-header-inner { padding: 7px !important; }
.x-grid-cell-inner { padding: 5px 7px !important; }

/* Menus **********************************************************************/
.ui-app-menu-item { margin-bottom: 5px; }
.ui-app-menu-item .x-menu-item-icon {
    width: 32px;
    height: 32px;
}
.ui-app-menu-item .x-menu-item-text {
    position: relative;
    left: 14px;
    top: 7px;
}
.x-menu-item-text { font-size: 14px !important; }
.x-menu-item-icon { left: 5px !important; }
.x-menu-item-checked .x-menu-group-icon,
.x-menu-item-unchecked .x-menu-group-icon {
    background-image: url(images/form/radio.png) !important;
    width: 15px !important;
    height: 15px !important;
}
.x-menu-item-unchecked .x-menu-group-icon {
    background-position: 0 0;
}
.x-menu-item-checked .x-menu-group-icon {
    background-position: 0 15px;
}

.add-overlay-menu {
    border-style: none !important;
    border-width: 0px !important;
    background-color: transparent !important;
}

.add-overlay-menu-body {
    background-color: transparent !important;
}

.add-overlay-menu-title {
    padding: 4px;
    text-align: left;
    color: #2D75A9;
    font-weight: 700;
    font-size: 13px;
    background-color: #fff;
    opacity:0.85;
    border-radius: 1px !important;
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    
}

.add-overlay-menu-item {
    border-width: 0px !important;
    border-radius: 1px !important;
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    background-image: none !important;
    padding: 2px !important;
}

/* Header *********************************************************************/
.x-panel-header-text-container-default { font-size: 14px !important; }

/* Icons **********************************************************************/
.ui-app-icon { background-size: 32px; }
.icon-add { background-image: url(add.png); }
.icon-plus { background-image: url(plus.png); }
.icon-single-map { background-image: url(single_map.png); }
.icon-coord-view { background-image: url(coordinated_view.png); }
.icon-multiplot { background-image: url(multiplot.png); }
.icon-app-form-del { background-image: url(application_form_delete.png); }
.icon-cog {
    background-image: url(cog.png);
    background-size: 25px;
}
.icon-control-play { background-image: url(bullet_arrow_right.png); }
.icon-control-pause { background-image: url(control_pause.png); }
.icon-control-right { background-image: url(bullet_arrow_right_2.png); }
.icon-control-left { background-image: url(bullet_arrow_left_2.png); }
.icon-control-right,
.icon-control-left { background-position: -4px -3px; }
.icon-disk {
    background-image: url(disk.png);
    background-position: -3px -3px;
}
.icon-addoverlay {
    background-image: url(roi.png);
    background-size: 25px;
}
.icon-draw {
    background-image: url(draw.png);
    background-size: 25px;
}
.icon-erase {
    background-image: url(erase.png);
    background-size: 24px;
    background-position: 1px 1px;
}
.icon-draw-time-series {
    background-image: url(draw-time-series.png);
    background-size: 25px;
}
.icon-link {
    background-image: url(link.png);
    background-size: 25px;
}
.icon-zoom-extend { background-image: url(zoom_extend.png); }
.icon-zoom-in { background-image: url(magnifier_zoom_in.png); }
.icon-zoom-out { background-image: url(magnifier_zoom_out.png); }

/* Panels/Borders *************************************************************/
.x-panel-default-outer-border-bl { border-bottom: 0 !important; }

/* TabPanel *******************************************************************/
.x-tab-default .x-tab-inner { font-size: 14px !important; }

/* Toolbars *******************************************************************/
.x-toolbar-default.map-tbar { background-color: transparent !important; }
